@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-oswald: "Oswald", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 0.1rem 0.5rem;
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #6366f1;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #6366f1;
}

.nav-link:hover::after {
  width: calc(100% - 1rem); /* Accounts for padding */
}

.nav-link.active {
  color: #4f46e5;
}

.nav-link.active::after {
  width: calc(100% - 1rem);
  background-color: #4f46e5;
}

/* Subtle hover effect */
.nav-link:hover {
  transform: translateY(-1px);
}

